body {
    background-color: #E1D9BC;

    align-items: center;

}

.credentials-entry-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 425px;
    height: 550px;

    align-content: center;
    justify-items: center;

    background-color: #30364F;
    border-radius: 50px;
    box-shadow: 0px 0px 55px #30364F;

    color: #F0F0DB;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.credentials-entry-container h3 {
    margin-bottom: 5px;
}

.username-input,
.password-input {
    margin: 5px;
    padding: 5px;
    border: 5px;
    border-radius: 10px;
    height: 35px;
    width: 325px;
    font-size: 15px;
}

.enter-credentials-button {
    margin-top: 50px;

    height: 50px;
    width: 125px;

    font-size: 25px;

    border-radius: 25px;

    cursor: pointer;

    transition: ease 0.3s;
}


.enter-credentials-button:hover {
    box-shadow: 0 0 10px #F0F0DB;
}
