

.journal-entry{
  resize: none;
  width: 30rem;
  height: 35rem;
  
  background-color: #A5C9FF;
  color: #2D2D2D ;

  font-size: 1.0rem;
  


}

.journal-entry-div{
  display: grid;
}

.title-list{
  list-style: none;
  margin: 0px;
  padding: none;


}

.tittle-input{
  width: 29.9rem;
  resize: none;
  background-color: #A5C9FF;
  color: #2D2D2D ;
  height: 2rem;
  font-size: 1.3rem;;
}

.main-div{
  display: flex;
}

.past-entries-button{
  background-color: #CFD8DC;
  border-radius: 5px; 
  margin-top: 5px;
  color: #2D2D2D;
  

}

.past-entries-div{
  background-color: #85b3f8;
  border-style: solid;
  border-color: #2D2D2D;
  border-width: 1px;
  

}
